<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoodReads Reviews</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="icon" type="image/png" href="/media/book.jpg" />
</head>

<body>
  <nav class="navbar navbar-light bg-warning">
    <a class="navbar-brand" href="/">
      <img src="/media/book.jpg" width="30" height="30" class="d-inline-block align-top mr-2" alt="book">
      goodreadsapp
    </a>
  </nav>
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>