<h1>My Bookstore</h1>

<form method="GET", action="/results">
  {{# alphabets}}
  <button class="btn btn-warning" type="submit" name="letter" value="{{this}}">{{this}}</button>
  {{/alphabets}}
  {{# numbers}}
  <button class="btn btn-warning" type="submit" name="letter" value="{{this}}">{{this}}</button>
  {{/numbers}}
</form>